.home .navs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home .navs .square-image {
  flex-grow: 1;
  /* Равномерное распределение пространства */
  margin-bottom: 10px;
  /* Отступ между каруселями */
}
.home .navs .square-image img {
  width: 100%;
  height: 100%;
}
